<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="express.TypeScript.DefinitelyTyped" version="0.2.2" targetFramework="net45" />
  <package id="Fayde" version="0.9.8.32" targetFramework="net45" />
  <package id="Fayde.Controls" version="0.9.8.9" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.5" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.0" targetFramework="net45" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.5.7" targetFramework="net45" />
</packages>