<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="deployPath" value="/node.demo" />
  </appSettings>
  
  <system.webServer>
    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    
    <rewrite>
        <rules>
            <rule name="api" patternSyntax="ECMAScript" stopProcessing="false">
                <match url="api/*" />
                <action type="Rewrite" url="server.js" logRewrittenUrl="true" />
            </rule>
        </rules>
    </rewrite>
    <iisnode debuggerPortRange="5058-6058" debuggerPathSegment="debug" maxNamedPipeConnectionRetry="3" namedPipeConnectionRetryDelay="2000" />
  <staticContent>
            <mimeMap fileExtension=".fap" mimeType="text/xml" />
            <mimeMap fileExtension=".fayde" mimeType="text/xml" />
        </staticContent><defaultDocument>
            <files>
                <add value="default.html" />
            </files>
        </defaultDocument></system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>